name: CI
on:
- push
- pull_request
jobs:
  main:
    strategy:
      matrix:
        include:
        - python: '3.6'
          os: ubuntu-20.04
        - python: '3.7'
          os: ubuntu-20.04
        - python: '3.8'
          os: ubuntu-20.04
        - python: '3.9'
          os: ubuntu-20.04
        - python: '3.10'
          os: ubuntu-22.04
        - python: '3.11'
          os: ubuntu-22.04
        - python: '3.12'
          os: ubuntu-22.04
        - python: '3.13'
          os: ubuntu-24.04
    runs-on: ${{matrix.os}}
    steps:
    - uses: actions/checkout@v4
    - name: set up Python ${{matrix.python-version}}
      uses: actions/setup-python@v5
      with:
        python-version: ${{matrix.python-version}}
    - name: run pydiatra
      run: |
        python3 -m pip install setuptools
        python3 -m pip install pydiatra
        python3 -m pydiatra -v .
    - name: run pyflakes
      run: |
        python3 -m pip install pyflakes
        python3 -m pyflakes .
    - name: install lxml
      run: |
        python3 -m pip install lxml
    - name: set up APT
      run: |
        printf 'Apt::Install-Recommends "false";\n' | sudo tee -a /etc/apt/apt.conf
        sudo apt-get update
    - name: install libxml2-utils
      run: |
        sudo apt-get install -y libxml2-utils
    - name: test 822-to-atom --type new
      run: |
        wget -O new.822 https://ftp-master.debian.org/new.822
        ./822-to-atom --type new < new.822 > new.atom
        xmllint new.atom > /dev/null
        rm new.822 new.atom
    - name: test 822-to-atom --type deferred
      run: |
        wget -O deferred.822 https://ftp-master.debian.org/deferred/status
        ./822-to-atom --type deferred < deferred.822 > deferred.atom
        xmllint deferred.atom > /dev/null
        rm deferred.822 deferred.atom

# vim:ts=2 sts=2 sw=2 et
